{% set wrapper_attribute = create_attribute() %}
{%
  set wrapper_classes = [
   'main-content-area',
  ]
%}
{% set wrapper_attribute = wrapper_attribute.addClass(wrapper_classes) %}
{% set wrapper_attribute = wrapper_attribute.setAttribute('style', 'position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);width: 100%;max-width: 720px;') %}
<main {{wrapper_attribute}}>
    <a href="{{ url('<front>') }}">{% trans %}Back to site{% endtrans %}</a>
    <div class="large-notice">
        <div class="content-container">
            <div class="notice-content">
              {% if message %}
                {% set new_message = message | replace({'@page-title': "<strong>'" ~ current_page_title ~ "'</strong>"}) | raw %}
                {{ new_message ? new_message | trans : '' }}
              {% endif %}
            </div>
        </div>
    </div>
</main>
